<div id="sidebar_container">
{{for node_name, node_holder in node_list.items():}}
    <div class="sidebar_block">
     
      <h4 style="margin:5px; color:#FFF; text-align:center;">
          <a href="{{=URL('category', args=node_name)}}">{{=node_name}}</a>
      </h4>
      
      <ul class="panel" title="{{=node_name}}">
          
          {{for node_item in node_holder:}}
          
          <li class="panelItem">
          
              <a href="{{=node_item['url']}}" id="link_{{=node_item['id']}}" class="link_link">
                  {{if node_item.picFile:}}
                  <img src="{{=URL('default','mini_thumb', args=node_item.picFile)}}" class="panelItemPic"  />
                  {{else:}}
                  <img src="{{=URL('static','images', args='placeholder_mini_thumb.png')}}" class="panelItemPic"  />
                  {{pass}}
                                        
              <div class="panelItemName">
                  {{=node_item['name']}}
              </div>
              </a>
          </li>
          {{pass}}
       </ul>
    </div>
{{pass}}
</div>
