<script>
{{if request.env.http_x_forwarded_for or request.env.wsgi_url_scheme in ['https', 'HTTPS']:}}
var autoload_request_url = 'https://{{=request.env.http_host}}{{=URL('api','search.json')}}';
var autoload_request_urlblog = 'https://{{=request.env.http_host}}{{=URL('api','searchBlog.json')}}';
{{else:}}
var autoload_request_url = 'http://{{=request.env.http_host}}{{=URL('api','search.json')}}';
var autoload_request_urlblog = 'http://{{=request.env.http_host}}{{=URL('api','searchBlog.json')}}';
{{pass}}
</script>
<script>

dataArr = Array();
gsearch ="";
gpage =  "";
gfull = false;

{{if "search_functions" in globals():}}
{{=XML(search_functions)}}
{{else:}}
function click_action( url, node_id, link_element ){
    return true;
}

function is_highlighted( url, node_id ){
    return false;
}

function is_visible( url, node_id ){
    return true;
}

function is_blog_highlited( blog ){
    return false;
}

function blog_click_action( blog_id ){
    return true;
}
{{pass}}


var pending_request = "";
function pull_data(search, page, empty, full){
    gsearch = search;
    gpage = page;
    gfull = full
    request = autoload_request_url + "?order=" + $("#order").val() + "&sort=" + $("#sort").val() + "&{{=search_mode}}&page=" + page + "&search=" + escape(search);
    requestb = autoload_request_urlblog + "?order=" + $("#order").val() + "&sort=" + $("#sort").val() + "&{{=search_mode}}&page=" + page + "&search=" + escape(search);
    
    
    if( pending_request ){
        pending_request.abort();
    }
    
    if( full ){
        $("#status").html("<img src='{{=URL('static', 'images', args='lightbox_ico_loading.gif')}}'>Performing Full Search " + search)
        request += "&fulltext=true";
    }else{
        $("#status").html("<img src='{{=URL('static', 'images', args='lightbox_ico_loading.gif')}}'>Searching " + search)
    }
    pending_request = $.getJSON(request,
        function(data){
            if( !data ){
                return;
            }
            $("#status").html('');
            if( empty ){
                $("#TARGET").empty();
            }
            $.each(data.nodes, function(key,val){
            
            dataArr[val.id] = val;
            if( is_visible( val.url, val.id ) ){
                style = "";
                if( is_highlighted( val.url, val.id ) ){
                    style = "background: green";
                }
                var html_add = "\
                    <div class='nodeBox' style='" + style + "'>\
                        <a href='{{=URL('main','node')}}/"+val.url+"' \
                           onclick='javascript:return click_action(\"" + val.url + "\", " + val.id + ", this);'>\
                            <div class='nodePic'>\
                                <img class='img-ondemand' src='{{=URL('static', 'images', args='lightbox_ico_loading.gif')}}' longdesc='" +
                                    ((val.picFile==""||val.picFile==null)?"{{=URL('static', 'images', args='placeholder_thumb.png')}}":"{{=URL('default','thumb',args=[150,150])}}/"+val.picFile) +"' /></div>\
                            <div class='nodeName'>" + val.name + "</div>\
                        </a>\
                     </div>";
            
                $("#TARGET").append( html_add );
            }
        });
        imgOndemand();
        {{if "showblog" in globals():}}
        //Start to pull blog posts
        $.getJSON(requestb,
        
        function(data){
            if( !data ){
                return;
            }
            if( empty ){
                $("#BLOG_TARGET").empty();
                $("#BLOG_TARGET").append("Blog Entries<ul>");
            }
            $.each(data.blogentries, function(key,val){
                style = "";
                if( is_blog_highlited(val) ){
                    style = "color: green;";
                }
                var html_add = "<li>\
                        <a href='{{=URL('main','blogid')}}/" + val.id + "' style='"+style+"' onclick='return blog_click_action("+val.id+", this);'>" + val.title + "</a>\
                     </li>";
            
                $("#BLOG_TARGET").append( html_add );
            });
             $("#BLOG_TARGET").append("</ul>");
        
        });
        
        {{pass}}
        
        if( data.nodes.length == 50 ){
            $("#TARGET").append( "<a href='#' id='MORE_LINK' style='clear: both; text-align: center;' onclick='pull_data(\"" + escape(search) + "\", " + (page + 1) + ", false, " + full + "); $(this).remove(); return false;'><br style='clear: both;'>More</a>");

            $(window).bind("scroll.morelink", function(){
                the_link = $("#MORE_LINK");
                if( the_link.offset().top < _$w.height() + _$w.scrollTop() ){
                    $(window).unbind('scroll.morelink');
                    pull_data( search, page + 1, false );
                    the_link.remove()
                    
                }
            });
        }
    });
}

$(document).ready(function(){
    pull_data($('#search_filter').val(), 1, true, false);
});
</script>

{{if not "initial_search" in globals():}}
   {{initial_search = ""}}
{{pass}}

<div style="text-align: center;">
<form onsubmit="return false;">
    Search: <input type="text" name="search_filter" id="search_filter" onkeyup="pull_data(this.value, 1, true, false);" value="{{=initial_search}}"/>
    <select name="order" id="order" onchange="pull_data($('#search_filter').val(), 1, true, false);">
    <option value="name">Node Title</option>
    <option value="date">Creation Date</option>
    <option value="modified" selected="selected">Last Updated</option>
    </select>
    <select name="sort" id="sort" onchange="pull_data($('#search_filter').val(), 1, true, false);">
    <option value="asce">Ascending</option>
    <option value="desc" selected="selected">Descending</option>
    </select>
    <input type="button" value="Full Text Search" onclick="pull_data($('#search_filter').val(), 1, true, true);">
</form>
<div id="status"></div>
</div>
<table>
<tr><td valign="top">
<div id="TARGET">
<img src="{{=URL('static', 'images', args='lightbox_ico_loading.gif')}}">Loading Content...
</div>
</td><td valign="top" {{if "showblog" in globals():}}width=200>{{pass}}<div id="BLOG_TARGET"></div></td></tr></table>
