{{extend 'csi_base.html'}}
        <div id="sidebar">
            <span style="float:left;"><h3>Links</h3></span>
            
            <div class="nodeTopLinks"></div>

            {{for node_name, node_holder in node_list.items():}}
            <div class="sidebar_block">
             
              <h4 style="margin:5px; color:#FFF; text-align:center;"><a href="http://schoolserver.rit.edu:8000/csi2/main/view/{{=node_name}}">{{=node_name}}</a></h4>
              
              <ul class="panel" title="{{=node_name}}">
                  
                  {{for node_item in node_holder:}}
                  
                  <li class="panelItem">
                  
                      <a href="{{=node_item['url']}}">
                      
                      {{if node_item.picURL == "":}}
                      
                          <img src="http://news.softpedia.com/images/news2/Keep-Chrome-for-Mac-OS-X-Updated-with-Chromium-Updater-2.jpg" class="panelItemPic" /></a>
                      
                      {{else:}}
                      
                          <img src="{{=node_item.picURL}}" class="panelItemPic"  /> </a>                         
                      
                      {{pass}}
                      
                           <div class="panelItemName">
                  
                              <a href="{{=node_item['url']}}">{{=node_item['name']}}</a> 
                              
                          </div>
                  </li>
                  {{pass}}
               </ul>
            </div>
            {{pass}}

            <h3>Social</h3>

            <div id="socialBar">
             <img class="socialPic" src="{{=URL('static', 'images', args=['Twitter_32x32.png'])}}" />
             <img class="socialPic" src="{{=URL('static', 'images', args=['FaceBook_32x32.png'])}}" />
             <img class="socialPic" src="{{=URL('static', 'images', args=['Feed_32x32.png'])}}" />
             <img class="socialPic" src="{{=URL('static', 'images', args=['Youtube_32x32.png'])}}" />
            </div> <!-- end social bar -->


        </div> <!-- end sidebar -->

        <div id="mainContent">
           
              
            {{include}}
        </div> <!-- end mainContent -->
