<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{=response.title or request.application}}</title>
{{if vars().has_key('node') and node:}}
<link rel="alternate" type="application/atom+xml" title="Page Activity" href="{{=URL('main','node_activity',args=node.url, extension="rss")}}" /> 
<link rel="alternate" type="application/atom+xml" title="{{=node.name}}'s Blog" href="{{=URL('main','blog',args=node.url, extension="rss")}}" />
<link rel="alternate" type="application/atom+xml" title="{{=node.name}}'s Aggregated Feed" href="{{=URL('main','feed',args=node.url, extension="rss")}}" /> 
{{elif request.function == "log":}}
<link rel="alternate" type="application/atom+xml" title="Page Activity" href="{{=URL('main','log', extension="rss")}}" /> 
{{pass}}
<link href="{{=URL(request.application,'static','csi_main.css')}}" rel="stylesheet" type="text/css" />
{{include 'web2py_ajax.html'}}
{{include 'htmlblocks/google_analytics.html'}}
</head>

<body>
{{if auth.user and auth.user.id == 1:}}{{#include "htmlblocks/debug_info.html"}}{{pass}}

{{include "template/header.html"}}
{{include "template/navigation.html"}}
<div id="overlay"></div>

<script>
function show_overlay(title, content, url){
    jQuery("#overlay_title").html(title);
    jQuery("#overlay_body").html(content);
    if(url!=null){
        $.get(url, function(data) {
            jQuery("#overlay_body").html(data);
        });
    }
    jQuery("#overlay_holder").fadeIn();
}

function hide_overlay(){
    jQuery("#overlay_holder").fadeOut();
}
</script>
<div id="overlay_holder" style="display:none; text-align: left;">
<div style="position:fixed;top:0%;left:0%;width:100%;height:100%;background-color:black;z-index:1001;-moz-opacity:0.8;opacity:.80;opacity:0.8;"></div>
<div style="position:fixed;top:15%;left:15%;width:70%;height:70%;padding:16px;border:2px solid black;background-color:white;opacity:1.0;z-index:1002;">
<span style="font-weight:bold;" id="overlay_title">Title</span>
<span style="float:right">[<a href="#" onclick="hide_overlay();return false;">close</a>]</span><hr/><div id="overlay_body" style="overflow-y: auto; overflow-x: hidden; height: 95%; width: 100%">content</div></div></div>



<br sytle="clear:both;">
<style>
    div.container {
        padding-top: 20px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 90px;
    }
</style>
    <div class="container">
        <div class="flash">{{=response.flash or ''}}</div>
        {{include}}
    </div><!-- end Container -->
    
{{include "template/footer.html" }}
</body>
</html>
