<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{{=response.title or request.application}}</title>
<meta name="google-site-verification" content="rlrFVbuXyQzE3ajqcE6H6SVQrPpZiXiALgw029aJpQY" />
{{=printRssHeader()}}
<link href="{{=URL(request.application,'static','csi_main.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="http://rit.edu/framework/v0/css-metanav-dgrey.css" />
{{include 'web2py_ajax.html'}}
{{include 'htmlblocks/google_analytics.html'}}

<script language="javascript" type="text/javascript">
function show_overlay(title, content, url){
    jQuery("#overlay_title").html(title);
    jQuery("#overlay_body").html(content);
    if(url!=null){
        $.get(url, function(data) {
            jQuery("#overlay_body").html(data);
        });
    }
    jQuery("#overlay_holder").fadeIn();
}

function hide_overlay(){
    jQuery("#overlay_holder").fadeOut();
}
</script>

</head>
<body>
{{include "blocks/rit_header.html"}}
<div id="overlay"></div>

<div id="overlay_holder" style="display:none; text-align: left;">
<div style="position:fixed;top:0%;left:0%;width:100%;height:100%;background-color:black;z-index:1001;-moz-opacity:0.8;opacity:.80;opacity:0.8;"></div>
<div style="position:fixed;top:15%;left:15%;width:70%;height:70%;padding:16px;border:2px solid black;background-color:white;opacity:1.0;z-index:1002;">
<span style="font-weight:bold;" id="overlay_title">Title</span>
<span style="float:right">[<a href="#" onclick="hide_overlay();return false;">close</a>]</span><hr/><div id="overlay_body" style="overflow-y: auto; overflow-x: hidden; height: 95%; width: 100%">content</div></div></div>


<div class="body-wrapper">
     <div class="content-wrapper">
    <div style="float: right;">{{include "blocks/search.html"}}</div>
        <div style="float: left;">{{include "blocks/account_info.html"}}</div>
        
        <br style="clear: both;" />
    </div><br style="clear: both;" />

    <div class="nav-wrapper">
    <div class="navigation" id="navigation">
    <ul class="menu">
    {{for txt, act, lnk, lst in response.menu:}}
        {{=LI( A( txt, _href=lnk), _class= "leaf%s" % " active-trail" if act else "")}}
    {{pass}}
	</ul>
    <br style="clear: both;" />
    </div>
    </div>
    <div class="flash">{{=response.flash or ''}}</div>
    <div class="content">
    {{include}}
    <br style="clear:both;" />
    </div>
    <div class="footer">
        <div style="float: right;">{{=printRss()}}</div>
        <div style="float: left;">
        <ul>
            <li>{{=A("Activity Log", _href=URL('main','log'), _title="A Log of every edit on the site")}}</li>
            <li>{{=A("Submit Feedback", _href=URL('edit','feedback'), _title="Help us improve the site by sending us your feedback")}}</li>
        </ul>
        </div>
        <br style="clear: both;" />
        <div style="font-size: 70%;">Content on this site is provided by its users.</div>
    </div>
</div>
</div>
</body>
</html>
