<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{{=response.title or request.application}}</title>
<meta name="google-site-verification" content="rlrFVbuXyQzE3ajqcE6H6SVQrPpZiXiALgw029aJpQY" />
{{=printRssHeader()}}
<link href="{{=URL(request.application,'static','csi_main.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="http://rit.edu/framework/v0/css-metanav-dgrey.css" />
{{include 'web2py_ajax.html'}}
{{include 'htmlblocks/google_analytics.html'}}

<script language="javascript" type="text/javascript">
function show_overlay(title, content, url){
    jQuery("#overlay_title").html(title);
    jQuery("#overlay_body").html(content);
    if(url!=null){
        $.get(url, function(data) {
            jQuery("#overlay_body").html(data);
        });
    }
    jQuery("#overlay_holder").fadeIn();
}

function hide_overlay(){
    jQuery("#overlay_holder").fadeOut();
}
</script>

</head>
<body>
<div id="overlay"></div>

<div id="overlay_holder" style="display:none; text-align: left;">
<div style="position:fixed;top:0%;left:0%;width:100%;height:100%;background-color:black;z-index:1001;-moz-opacity:0.8;opacity:.80;opacity:0.8;"></div>
<div style="position:fixed;top:15%;left:15%;width:70%;height:70%;padding:16px;border:2px solid black;background-color:white;opacity:1.0;z-index:1002;">
<span style="font-weight:bold;" id="overlay_title">Title</span>
<span style="float:right">[<a href="#" onclick="hide_overlay();return false;">close</a>]</span><hr/><div id="overlay_body" style="overflow-y: auto; overflow-x: hidden; height: 95%; width: 100%">content</div></div></div>


<div class="body-wrapper">
    <div class="content-wrapper" style="position: relative;">
        <div style="position: absolute; left: 344px; top: 0;">
        <a href="http://www.rit.edu/research/simonecenter/"><img src="http://rit.edu/research/simonecenter/sites/rit.edu.research.simonecenter/files/tigernews_logo.png" alt="Home" width="216px" height="108px"></a>
        </div>
        <div style="height: 78px;">
        <a href="http://rit.edu" style="position: absolute; top: 20px; left: 14px;"><img src="http://www.rit.edu/research/simonecenter/sites/rit.edu.research.simonecenter/files/imagecache/directory_small/rit_logo.png" alt="RIT Logo" width="58" height="18" style="padding: 15px;"></a>
        <div style="position: absolute; top: 20px; right:32px;">           
                <form method="get" action="http://www.rit.edu/search/" style="padding: 0; margin: 0;">
                    <input name="q" type="text" value="Search RIT" maxlength="250" alt="Search box" style="padding: 0; margin: 0; border:1px solid #C2C1C1"/>
                    <button title="Submit Search" style="padding: 0; margin: 0;">Search</button>
                </form>    
        </div>
        </div>
    </div>
    <div class="nav-wrapper">
    <div class="navigation" id="navigation">
    <ul class="menu">
        <li class="leaf"><a href="{{=URL(request.application,'main','index')}}">NOVA</a>
        <ul>
            <li class="leaf"><a href="{{=URL(request.application,'browse','tags')}}">Tag Cloud</a></li>
            <li class="leaf"><a href="{{=URL(request.application, 'match', 'browse')}}">Match Making</a></li>
            <li class="leaf"><a href="{{=URL(request.application,'browse','attributes')}}">Browse Attributes</a></li>
        </ul></li>
        <li class="leaf"><a href="#">Find...</a>
            <ul>
            {{for node_type in response.node_types:}}
                {{=LI(A(
                    IMG(_src=URL('default','thumb',args=[25,25,node_type['icon']], vars={'square':True}, extension=""),
                        _style="margin-left:-25px; vertical-align:middle;"),
                    node_type['value'].replace("_", " "),
                    _href=URL("main","category", args=[node_type['value']]),
                    _class= "leaf%s" % " active-trail" if request.args(0) == node_type['value'] else "" ))}}
            {{pass}}
            {{=LI(A("Not Sure? Search All!", _href=URL("main","search", vars={"query":""})))}}
    </ul>
    </li>
    <li class="leaf"><a href="#">Create New...</a>
        <ul>
            {{for node_type in response.node_types:}}
                {{if node_type['public'] or auth.has_membership("Site Admin"):}}
                <li>
                	<a href="{{=URL('edit','new',args=node_type['value_node'])}}"
                	   		onclick="show_overlay('Create New','loading...','{{=URL('edit','new',args=node_type['value_node'], extension="load")}}'); return false;">
                    	<img src="{{=URL('default','thumb',args=[25,25,node_type['icon']], vars={'square':True}, extension="")}}"
                                style="margin-left:-25px; vertical-align:middle;"/>
                        {{=node_type['value_node'].replace("_", " ")}}
                        {{if not node_type['public']:}}[Admin Ability]{{pass}}
                    </a>
            	</li>
                {{pass}}
            {{pass}}
        </ul>
    </li>
    </ul>
     <div style="float: right; padding: 3px;">{{include "blocks/search.html"}}</div>
    <br style="clear: both;" />
    </div>
    </div>
         <div class="content-wrapper">
   
        <div style="float: left;">{{include "blocks/account_info.html"}}</div>
        
        <br style="clear: both;" />
    </div><br style="clear: both;" />
    <div class="flash">{{=response.flash or ''}}</div>
    <div class="content">
    {{include}}
    <br style="clear:both;" />
    </div>
    <div class="footer">
        <div style="float: right;">{{=printRss()}}</div>
        <div style="float: left;">
        <ul>
            <li>{{=A("Activity Log", _href=URL('main','log'), _title="A Log of every edit on the site")}}</li>
            <li>{{=A("Submit Feedback", _href=URL('edit','feedback'), _title="Help us improve the site by sending us your feedback")}}</li>
        </ul>
        </div>
        <br style="clear: both;" />
        <div style="font-size: 70%;">Content on this site is provided by its users.</div>
    </div>
</div>
</div>
</body>
</html>
