{{extend 'csi_base.html'}}
        <div id="sidebar">
            <span style="float:left;"><h3>Links</h3></span>
            
            <div class="nodeTopLinks">
                {{if auth.is_logged_in() and node.id != auth.user.home_node:}}
                    {{if is_linked(node, get_home_node()):}}
                        <a href="{{=URL('edit','link_me',args=['remove', node.url])}}">Unlink Me</a>
                    {{else:}}
                        <a href="{{=URL('edit','link_me',args=['add', node.url])}}">Link Me</a>
                    {{pass}}
                {{pass}}
            </div>

            {{include "htmlblocks/links.html"}}
          <!--
            <h3>Social</h3>

            <div id="socialBar">
             <img class="socialPic" src="{{=URL('static', 'images', args=['Twitter_32x32.png'])}}" />
             <img class="socialPic" src="{{=URL('static', 'images', args=['FaceBook_32x32.png'])}}" />
             <img class="socialPic" src="{{=URL('static', 'images', args=['Feed_32x32.png'])}}" />
             <img class="socialPic" src="{{=URL('static', 'images', args=['Youtube_32x32.png'])}}" />
            </div> -->
   

        </div> <!-- end sidebar -->

        <div id="mainContent">
           
              
            {{include}}
        </div> <!-- end mainContent -->
