{{extend 'csi_view.html'}}
<h1>{{=node.name}}'s Blog</h1>

<div class="nodeTopLinks">
{{=A('Back to %s' % node.name, _href=URL('main','node',args=node.url))}}
{{if can_edit(node):}}
{{=A('New Entry', _href=URL('edit','blog',args=node.url))}}
{{pass}}
</a>
</div><br />
<style>
    div.blog_title{
        font-weight: bold;
    }
    div.blog{
        margin: 4px;
        padding: 10px;
        background: #EEE;
    }
    div.blog_body{
        padding: 10px;
    }
    div.blog_tags{
        font-style: italic;
    }
</style>
{{canedit = can_edit(node)}}
{{for entry in entries:}}
{{author_node = get_home_from_user(entry['author'])}}
<div class="blog">
<div class="blog_title">{{=A(entry['title'], _href=URL('main','blog',args=[node.url, entry['id']]))}} by
{{=A(author_node.name, _href=URL('main','node',args=author_node.url))}}</div>
<div class="blog_date">{{=entry['created_on'].strftime(DATE_FORMAT)}}
{{if canedit:}}{{=A("Edit/Delete Post", _href=URL('edit','blog',args=[node.url, entry['id']]))}}{{pass}}
</div>
<div class="blog_body">{{=XML(entry['description'], True, ALLOWED_HTML_TAGS, ALLOWED_HTML_ATTR)}}</div>
<div class="blog_tags">{{=tags_2_html(entry['tags'])}}</div>
</div>
{{pass}}
{{if request.args(1):}}
{{=A('View All Posts', _href=URL('main','blog',args=node.url))}}
{{pass}}
