{{extend 'csi_view.html'}}

    <div id="viewbar">
        <h1 style="float:left; margin:20px; color:#FFF;">{{=category.value}}</h1>
        {{if auth.is_logged_in() and category.public:}}
            <div id="addyourself">
                <a href="{{=URL('edit', 'node', vars={'type':category.value})}}">Add your own!</a>
            </div> <!-- end addyourself -->
         {{pass}}
        <br style="clear: both;"/>
        {{if category.cat_header:}}<p>{{=XML(category.cat_header)}}</p>{{pass}}
        <br />
    </div> <!-- end viewbar -->

{{search_mode="category=%s" % category.value}}
{{include "htmlblocks/search.html"}}
