{{extend 'csi_view.html'}}

    <div id="viewbar">
        <h1 style="float:left; margin:20px; color:#FFF;">{{=page}}</h1>
            <div id="addyourself">
                <a href="{{=URL('main', 'edit')}}">Add your own!</a>
            </div> <!-- end addyourself -->
        <br />
    </div> <!-- end viewbar -->


{{if len(data) == 0:}}
There are no nodes for this category
<a href="http://{{=request.env.http_host}}/{{=request.application}}/{{=request.controller}}/edit">
Add a Node</a>
{{pass}}


{{for x in data:}}
    <div class="nodeBox">
        <div class="nodePic">
            <a href="{{=URL('main','node',args=[x.url])}}" >
            
            {{if x.picURL:}}
                
                <img src="{{=x.picURL}}" width="160px" height="160px" /></a>
            
            {{else:}}
            
                <img src="{{=URL('static', 'images', args=['Feed_32x32.png'])}}"  width="160px" height="160px"/></a>
                
            {{pass}}
        
        </div> <!-- end nodePic -->
        
        <div class="nodeName">
            
            <a href="{{=URL('main', 'node', args=[x.url])}}">{{=x.name}}</a>
            
        </div> <!-- end nodeName -->
        
        
    </div> <!-- end nodeBox -->
    
    {{pass}}
<br class="clearfloat"/>

{{if total_pages > 1:}}
  {{for pg in range(1,total_pages+1):}}
    {{if pg != page_num:}}
      <a href="{{=URL('main','category',args=[page,pg])}}">{{=pg}}</a>
    {{else:}}
      {{=pg}}
    {{pass}}
  {{pass}}
{{pass}}
