{{extend 'csi_view.html'}}
    <div id="descriptionBox">
    <img src="{{=URL('static','images/csi_home_image.png')}}" style="float:left; padding: 10px;">
    <p>
      A round glass building on a campus of brick cubes, the Center for
      Student Innovation is a mixing bowl ;-) for collaborative innovation
      that thinks outside the discipline.
    </p>
    <p>
      This website is a Virtual Innovation Center for our community, where
      People and Groups generate and develop Ideas, Projects and Events.
      RIT innovators watch these pages for innovation opportunities
      (projects, collaborators, ideas, opportunities to make a contribution, etc.).
      Don't put any proprietary information up here by accident.
    </p>
    <p>
      The best way to have a great idea is to have a lot of ideas. And the best way
      to have a lot of ideas is by sharing them, and combining them with others.
    </p>
    <p>
      Our Informational Website is at <a href="http://innovation.rit.edu">http://innovation.rit.edu</a>.
    </p>
    </div>
    <br style="clear:both;">
    {{if auth.has_membership("Site Admin"):}}
    {{=A("Add New Category", _href=URL('edit','home_page_cat'))}}
    {{pass}}
    {{for category, nodes in highlights:}}
        <div class="highlight" style="clear: both;">
        <h2 style="margin: 0px; padding: 0px;">{{=category}}</h2>
        {{if auth.has_membership("Site Admin"):}}
        {{=A("Add Members",_href=URL('edit','home_page',args=category))}} 
        {{=A("Edit Category", _href=URL('edit','home_page_cat', args=category))}}<br>{{pass}}
        {{if nodes:}}
            {{for node_i in nodes:}}
                  <div class="nodeBox">
                  <a href="{{=node_i['Url']}}">

                  <div class="nodePic"><img src="{{=node_i['Pic']}}"></div>
                  <div class="nodeName">{{=node_i['Name']}}</div>
                  </a>
              </div>
            {{pass}}
        {{else:}}
            No Pages Found
        {{pass}}
        </div>
    {{pass}}
    <br style="clear: both;">
    

{{#=BEAUTIFY(highlights)}}
