{{extend 'csi_base.html'}}
<div style="margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px; padding:10px;">
    <p style="text-align: center;">
      Welcome to the RIT {{=A("Center for Student Innovation",
                            _href="http://innovation.rit.edu",
                            _style="font-weight: bold; text-decoration:none")}}'s<br>
      virtual collaboration space, where<br>
      {{=A("People", _href=URL("main","category",args="People"), _style="font-weight: bold; text-decoration:none; color: #A00;")}} and 
      {{=A("Groups", _href=URL("main","category",args="Groups"), _style="font-weight: bold; text-decoration:none; color: #A00;")}} develop
      {{=A("Ideas", _href=URL("main","category",args="Ideas"), _style="font-weight: bold; text-decoration:none; color: #A00;")}},
      {{=A("Projects", _href=URL("main","category",args="Projects"), _style="font-weight: bold; text-decoration:none; color: #A00;")}} and
      {{=A("Events", _href=URL("main","category",args="Events"), _style="font-weight: bold; text-decoration:none; color: #A00;")}}.
    </p>
    <p style="text-align: center;">
        {{=A(
        IMG(_src=URL("static","person_button_over.png"),
        _onmouseover="this.src='%s'" % URL("static","person_button.png"),
        _onmouseout="this.src='%s'" %  URL("static","person_button_over.png")), _href=URL("main","category",args="People"))}}
    {{=A(
        IMG(_src=URL("static","project_button_over.png"),
        _onmouseover="this.src='%s'" % URL("static","project_button.png"),
        _onmouseout="this.src='%s'" %  URL("static","project_button_over.png")), _href=URL("main","category",args="Projects"))}}
    {{=A(
        IMG(_src=URL("static","place_button_over.png"),
        _onmouseover="this.src='%s'" % URL("static","place_button.png"),
        _onmouseout="this.src='%s'" %  URL("static","place_button_over.png")), _href=URL("main","category",args="Places"))}}
    </p>
    <p style="font-size: 70%; text-align: center;">
      The best way to have a great idea is to have a lot of ideas.<br />
      And the best way to have a lot of ideas is by sharing them,<br />
      and combining them with others.  That's what happens here.
    </p>
    <br style="clear:both;">
</div>
    {{if auth.has_membership("Site Admin"):}}
    {{=A("Add New Category", _href=URL('edit','home_page_cat'))}}
    {{pass}}
    {{for category, nodes in highlights:}}
        <div class="highlight" style="clear: both;">
        <h2 style="margin: 0px; padding: 0px;">{{=category}}</h2>
        {{if auth.has_membership("Site Admin"):}}
        {{=A("Add Members",_href=URL('edit','home_page',args=category))}} 
        {{=A("Edit Category", _href=URL('edit','home_page_cat', args=category))}}<br>{{pass}}
        {{if nodes:}}
            {{for node_i in nodes:}}
                  <div class="nodeBox">
                  <a href="{{=node_i['Url']}}">

                  <div class="nodePic"><img src="{{=node_i['Pic']}}"></div>
                  <div class="nodeName">{{=node_i['Name']}}</div>
                  </a>
              </div>
            {{pass}}
        {{else:}}
            No Pages Found
        {{pass}}
        </div>
    {{pass}}
    <br style="clear: both;">
    

{{#=BEAUTIFY(highlights)}}
