{{extend 'csi_node.html'}}

{{if can_edit(node):}}
    <script type="text/javascript">
    var url_segment = '{{=node.url}}';
    function reflash_edit_mode(){
        exit_edit_mode();
        enter_edit_mode(url_segment);
    }
    
    function exit_edit_mode(){
        $("#mode_a").show();
        $("div.flash").hide();
        $(".db_editable, .db_attributes, .db_photo_editable").each(
            function(){
                $(this).css( "border", "");
                $(this).unbind('mouseenter').unbind('mouseleave');
            }
        );
        $("#add_attr_link").remove()
        
        //TEMPORARY
         $("a.link_link, #at_sort .statTitle").each( function(){
             $(this).unbind('mouseenter').unbind('mouseleave');     
         });
         //TEMPORARY
    }
    function enter_edit_mode(){
        //TEMPORARY
        add_del_attr();
        add_del_links();
        //END TEMPORARY
    
        $("#mode_a").hide();
        $("div.flash").html("Page is in Edit Mode. <a href='#' onclick='exit_edit_mode(); return false;'>Done Editing</a>");
        $("div.flash").show();
        
        //Add New Attribute Link
        new_attr_lnk = document.createElement("a");
       
        new_attr_lnk.setAttribute('href','#');
        new_attr_lnk.setAttribute('onclick',
            'edit_request("/csi2/ajaxedit/addattribute/" + url_segment,"at_sort"); return false;');
        new_attr_lnk.setAttribute('id', 'add_attr_link');
        new_attr_lnk.innerText = "Add More";
        $("#sideStats").append(new_attr_lnk);
        
        //
        $(".db_editable, .db_attributes, .db_photo_editable").each(
            function(){
                $(this).css( "border", "1px dashed #FFB3B3");
                $(this).bind( 'mouseenter',
                    function(){
                        $(this).css( "border", "1px solid #FFB3B3");
                        $(this).bind( 'click', function(){
                            if(this.className == 'db_attributes'){
                                edit_request("/csi2/ajaxedit/editattribute/" + url_segment + "/" + this.id, this.id);
                            }else if(this.className == 'db_photo_editable'){
                                edit_request("/csi2/ajaxedit/editphoto/" + url_segment, this.id);
                            }else{
                                edit_request("/csi2/ajaxedit/editnode/" + url_segment + "/" + this.id, this.id);
                            }
                            return false;
                        });
                    });
                $(this).bind( 'mouseleave',
                    function(){
                        $(this).css( "border", "1px dashed #FFB3B3");
                        $(this).unbind( 'click' );
                    }
                );
            }
        );
    }
    
    function add_del_links(){
        $("a.link_link").each( function(){
            $(this).hover( function () {
                var del_image=document.createElement('img');
                del_image.src= "/csi2/static/images/delete.png";
                del_image.alt="Delete";
                del_attr_link = document.createElement("a");
                del_attr_link.setAttribute('href', '#');
                del_attr_link.setAttribute('onclick', 'delete_request("/csi2/edit/in_place/{{=node.url}}/unlink_' +
                                                       this.id + '","sidebar_container", true); return false;');
                del_attr_link.setAttribute('class', 'del_attr_link');
                del_attr_link.appendChild(del_image);
                $(this).prepend(del_attr_link);
            }, function(){
                $(this).find(".del_attr_link").remove();
            });
        });
    }
    
    function add_del_attr(){
        //Add Delete Links
        $("#at_sort .statTitle").each( function(){
            $(this).hover( function () {
                var del_image=document.createElement('img');
                del_image.src= "/csi2/static/images/delete.png";
                del_image.alt="Delete";
                del_attr_link = document.createElement("a");
                del_attr_link.setAttribute('href', '#');
                del_attr_link.setAttribute('onclick', 'delete_request("/csi2/ajaxedit/deleteattribute/{{=node.url}}/' +
                                                       this.id + '","at_sort", false); return false;');
                del_attr_link.setAttribute('class', 'del_attr_link');
                del_attr_link.appendChild(del_image);
                $(this).prepend(del_attr_link);
            }, function(){
                $(this).find(".del_attr_link").remove();
            });
        });
    }

    function delete_request(url, div_loc, lnk){
        if( confirm('Are you sure you want to delete this feild?') ){
            $.ajax({
                url: url,
                success: function(r) {
                    document.getElementById(div_loc).innerHTML=r;
                    if( lnk == false){
                        add_del_attr();
                    }else{
                        add_del_links();
                    }
                    //Add back the edit links
                    $(".db_attributes").each( function(){ add_edit_link( this ) });
                },
                error: function() { alert("Failed to submit"); },
            });
        }
    }

    function edit_request(url, div_loc){

        var div = $("#overlay");
        div.html('Loading...');
        div.show('slow');
        
        close_link = document.createElement("a");
        close_link.setAttribute('href','#');
        close_link.setAttribute('onclick','$("#overlay").hide("slow"); return false');
        close_link.innerText="Close";
        
        div.load(url, function() {
            div.append(close_link);
            var form = $("#overlay form");

            // Test if we must fake it instead
            var fakeit = false;
            $("#overlay form :input").each( function() {
                if( this.type == "file" ){
                    fakeit = true;
                }
            });
            
            if( fakeit == true ){
                f_frame = document.createElement("iframe");
                f_frame.name = "__Fake_IT_Frame";
                f_frame.id = "__Fake_IT_Frame";
                f_frame.style.display = "none";
                f_frame.onload = function(){
                    if( this.contentWindow.document.body.innerHTML != "" ){
                        document.getElementById(div_loc).innerHTML=this.contentWindow.document.body.innerHTML;
                        div.hide('slow');
                    }
                    };
                div.append(f_frame);

                form.attr('target',"__Fake_IT_Frame");
            }else{
                form.submit(function() {
                    var inputs = [];
                    $("#overlay form :input").each( function() {
                        inputs.push(this.name + '=' + escape(this.value));
                    });
                  
                  $.ajax({
                      data: inputs.join('&'),
                      type: 'post',
                      enctype: 'multipart/form-data',
                      url: $("#overlay form").attr('action'),
                      success: function(r) {
                          document.getElementById(div_loc).innerHTML=r;
                          div.hide('slow');
                          reflash_edit_mode();
                      },
                      error: function() { alert("Failed to submit"); },
                   });
                  return false;
                });
            }
        });
    }
    </script>
{{pass}}

{{if can_edit(node):}}
    <div class="nodeTopLinks">
        <a href="{{=URL('edit','node', args=[node.url])}}">Edit This Page</a>
        <a href="{{=URL('edit','link', args=node.url)}}"  >Link This Page</a>
        <a href="#" onclick="enter_edit_mode(); return false;" id="mode_a">Edit Mode</a>
    </div>
{{pass}}
<br />

    <div id="nodeTitle">
        <div id="name" class="db_editable">{{=node.name}}</div>
    </div> <!-- end nodeTitle -->
    
    <div id="picture" class="db_photo_editable">
        {{if node.picFile:}}
        <img src="{{=URL('default','download',args=node.picFile)}}" />
        {{else:}}
            {{if can_edit(node):}}
                <img src="{{=URL('static', 'images', args=['placeholder_edit.gif'])}}" />
            {{else:}}
                <img src="{{=URL('static', 'images', args=['placeholder.png'])}}"/>
            {{pass}}
        {{pass}}
    </div> <!-- end bigPic -->
     
    <div id="sideStats">{{include "htmlblocks/attributes.html"}}</div>

    <div id="descriptionBox">
    <div id="description" class="db_editable">{{if node.description:}}{{=MARKMIN(node.description)}}{{else:}}No Description Yet :({{pass}}</div>
    </div> <!-- end description -->
