<style>
    @media screen{
        .no_print{
            background: #eee;
            border: 1px solid red;
        }
    }
    
    @media print{
        .no_print{
            display:none;
            }
       }
    }
</style>
<script type="text/javascript">
function toggle_print(item){
    if(item.getAttribute('class')!='no_print'){
        item.setAttribute('class', 'no_print');
    }else{
        item.setAttribute('class', '');
    }
}
</script>
<div class="no_print">
    Click on elements that you wish to not print.
    {{=A("Return to Normal Mode", _href=URL('main','node',args=node.url))}}
</div>
<div style="width: 400px;">
    <h1 style="float: right; margin: 0px;" onclick="toggle_print(this)">{{=node.name}}</h1>
    <img src="{{=URL("static","images",args="footer.png")}}" width="150px;" style="float: left;" onclick="toggle_print(this)">
    <div style="float: right; clear:right; font-size: 80%;" onclick="toggle_print(this)">
        {{="http://" +  request.env.http_host + URL('main','node',args=node.url)}}
    </div>
    <img src="{{=URL('default','download',args=node.picFile)}}" width="400px" onclick="toggle_print(this)"/><br />
    <div onclick="toggle_print(this)" style="text-align: center; float: left;">
        <img src="http://chart.apis.google.com/chart?cht=qr&chs=150x150&chl={{="http://" +  request.env.http_host + URL('main','node',args=node.url)}}">
    </div>
    <div onclick="toggle_print(this)">
        {{=XML(node.description,True, ALLOWED_HTML_TAGS, ALLOWED_HTML_ATTR)}}
    </div>

    <table width="100%">
    {{for attr in node_attributes:}}
        <tr onclick="toggle_print(this)">
            <td width="150px">{{=attr.vocab.value}}:</td>
            <td>{{=XML(attr.value,True, ALLOWED_HTML_TAGS, ALLOWED_HTML_ATTR)}}</td>
        </tr>
    {{pass}}
    </table>
</div>
