<style>
    @media screen{
        .no_print{
            background: #eee;
        }
    }
    
    @media print{
        .no_print{
            display:none;
            }
       }
    }
</style>
<script type="text/javascript">
function toggle_print(item){
    if(item.getAttribute('class')!='no_print'){
        item.setAttribute('class', 'no_print');
    }else{
        item.setAttribute('class', '');
    }
}
</script>

<div style="width: 400px;">
<h1 style="float: right; margin: 0px;">{{=node.name}}</h1>
<img src="{{=URL("static","images",args="footer.png")}}" width="150px;" style="float: left;">
<div style="float: right; clear:right; font-size: 80%;">{{="http://" +  request.env.http_host + URL('main','node',args=node.url)}}</div>
<img src="{{=URL('default','download',args=node.picFile)}}" width="400px"/><br />
<div onclick="toggle_print(this)">{{=MARKMIN(node.description)}}</div>

<table width="100%">
{{for attr in node_attributes:}}
    <tr onclick="toggle_print(this)"><td width="150px">{{=attr.vocab.value}}:</td><td>{{=MARKMIN(attr.value)}}</td></tr>
{{pass}}
</table>
</div>
