{{extend 'csi_node.html'}}


{{if can_edit(node):}}    
    <script type="text/javascript">
    $(document).ready(function() {
        $(".db_editable").each( function(){
            var edit_image=document.createElement('img');
            edit_image.src= "/csi2/static/images/edit.png";
            edit_image.alt="Edit";
            var edit_link = document.createElement("a");
            edit_link.setAttribute('href','#');
            edit_link.setAttribute('onclick','edit_request("/csi2/edit/in_place/{{=node.url}}/' + this.id + '","'+this.id+'"); return false'); 
            edit_link.setAttribute('style', 'float:left;');
            edit_link.appendChild(edit_image);
            this.parentNode.insertBefore(edit_link,this)
        });
    });

        function edit_request(url, div_loc){
 
            var div = $("#" + div_loc);

            div.load(url, function() {
                var form = $("#" + div_loc + " form");
                
                form.submit(function() {
                    var inputs = [];
                    $("#" + div_loc + " form :input").each( function() {
                        inputs.push(this.name + '=' + escape(this.value))
                    });
                  
                  $.ajax({
                      data: inputs.join('&'),
                      type: 'post',
                      url: $("#" + div_loc + " form").attr('action'),
                      success: function(r) { document.getElementById(div_loc).innerHTML=r; },
                      error: function() { alert("Failed to submit"); },
                   });
                  return false;
                });
            });
        }
    </script>
{{pass}}

{{if can_edit(node):}}
    <div class="nodeTopLinks">
        <a href="{{=URL('edit','node', args=[node.url])}}">Edit Node</a>
        <a href="{{=URL('edit','link', args=node.url)}}"  >Link Node</a>
    </div>
{{pass}}
<br />

    <div id="nodeTitle">
        <div id="name" class="db_editable">{{=node.name}}</div>
    </div> <!-- end nodeTitle -->
    
    <div id="bigPic">
          <img src="{{=node.picURL}}"  width="300px" />
    </div> <!-- end bigPic -->
     
    <div id="sideStats">
    
    {{for x in node_attributes:}}
        
        <div class="statTitle">
            {{=x.vocab.value}}
        </div> <!-- end statTitle -->
            
        <div class="statValue">
            <div id="attr_{{=x.id}}" class="db_editable">{{=MARKMIN(x.value)}}</div>
        </div> <!-- end statValue -->
        
    {{pass}}
    
    </div> <!-- end sideStats -->

    <div id="descriptionBox">
    <div id="description" class="db_editable">{{=MARKMIN(node.description)}}</div>
    </div> <!-- end description -->
