{{extend 'csi_node.html'}}
<script>
    function enable_lightBox(){
        $('#picture a').lightBox(
            {"imageBtnClose":"/csi2/static/images/lightbox_btn_close.gif",
             "imageBlank":"/csi2/static/images/lightbox_ico_blank.gif ",
             "imageLoading":"/csi2/static/images/lightbox_ico_loading.gif",
            }
         );
    }
    
    function disable_lightBox(){
        $('#picture a').unbind()
    }
    
    $(function() {
        enable_lightBox();
    });
</script>
</script>
{{if can_edit(node):}}
    <script type="text/javascript">
    var in_edit_mode = false;
    var url_segment = '{{=node.url}}';
    function reflash_edit_mode(){
        exit_edit_mode();
        enter_edit_mode(url_segment);
    }
    
    function toggle_edit_mode(){
        if( in_edit_mode == true ){
            exit_edit_mode();
        }else{
            enter_edit_mode();
        }
    }
    
    function exit_edit_mode(){
        in_edit_mode = false;
        $("#mode_a").show();
        $("div.flash").slideUp();
        
        $(".db_editable, .db_attributes, .db_photo_editable").each(
            function(){
                $(this).css( "border", "");
                $(this).css( "background-color", "");
                $(this).css( "cursor", "");
                $(this).unbind('mouseenter').unbind('mouseleave');
            }
        );
        $("#add_attr_link").remove()
        
        //TEMPORARY
         $("#at_sort .statTitle").each( function(){
             $(this).unbind('mouseenter').unbind('mouseleave');     
         });
         //TEMPORARY
         
         enable_lightBox();
    }
    function enter_edit_mode(){
        in_edit_mode = true;
        //TEMPORARY
        add_del_attr();
        //END TEMPORARY
    
        disable_lightBox();
    
        $("#mode_a").hide();
        $("div.flash").html("You can edit anything in yellow. <a href='#' onclick='exit_edit_mode(); return false;' style='background-color:#F99;'>Finish Editing</a>.<br>Hint: Most edit fields support <a href='http://beta.innovation.rit.edu/examples/static/markmin.html' target='_NEW'>Markmin Syntax</a>.");
        $("div.flash").slideDown('slow');
        
        //Add New Attribute Link
        new_attr_lnk = document.createElement("a");
       
        new_attr_lnk.setAttribute('href','#');
        new_attr_lnk.setAttribute('onclick',
            'edit_request("/csi2/ajaxedit/addattribute/" + url_segment,"at_sort"); return false;');
        new_attr_lnk.setAttribute('id', 'add_attr_link');
        new_attr_lnk.appendChild(document.createTextNode("Add More"));

        $("#sideStats").append(new_attr_lnk);
        
        //
        $(".db_editable, .db_attributes, .db_photo_editable").each(
            function(){
                $(this).css( "border", "6px dashed #FF0");
                $(this).css( "background-color", "#FF0");
                $(this).css( "cursor", "pointer");
                $(this).bind( 'mouseenter',
                    function(){
                        $(this).css( "border", "6px solid #F60");
                        $(this).bind( 'click', function(){
                            if(this.className == 'db_attributes'){
                                edit_request("/csi2/ajaxedit/editattribute/" + url_segment + "/" + this.id, this.id);
                            }else if(this.className == 'db_photo_editable'){
                                edit_request("/csi2/ajaxedit/editphoto/" + url_segment, this.id);
                            }else{
                                edit_request("/csi2/ajaxedit/editnode/" + url_segment + "/" + this.id, this.id);
                            }
                            return false;
                        });
                    });
                $(this).bind( 'mouseleave',
                    function(){
                        $(this).css( "border", "6px dashed #FF0");
                        $(this).unbind( 'click' );
                    }
                );
            }
        );
    }
    
    function add_del_attr(){
        //Add Delete Links
        $("#at_sort .statTitle").each( function(){
            $(this).hover( function () {
                var del_image=document.createElement('img');
                del_image.src= "/csi2/static/images/delete.png";
                del_image.alt="Delete";
                del_attr_link = document.createElement("a");
                del_attr_link.setAttribute('href', '#');
                del_attr_link.setAttribute('onclick', 'delete_request("/csi2/ajaxedit/deleteattribute/{{=node.url}}/' +
                                                       this.id + '","at_sort"); return false;');
                del_attr_link.setAttribute('class', 'del_attr_link');
                del_attr_link.appendChild(del_image);
                $(this).prepend(del_attr_link);
            }, function(){
                $(this).find(".del_attr_link").remove();
            });
        });
    }

    function delete_request(url, div_loc){
        if( confirm('Are you sure you want to delete this field?') ){
            $.ajax({
                url: url,
                success: function(r) {
                    document.getElementById(div_loc).innerHTML=r;
                    reflash_edit_mode()
                    //Add back the edit links
                    $(".db_attributes").each( function(){ add_edit_link( this ) });
                },
                error: function() { alert("Failed to submit"); },
            });
        }
    }

    function edit_request(url, div_loc){

        var div = $("#overlay");
        div.html('Loading...');
        div.show('slow');
        
        close_link = document.createElement("a");
        close_link.setAttribute('href','#');
        close_link.setAttribute('onclick','$("#overlay").hide("slow"); return false');
        close_link.innerText="Close";
        
        div.load(url, function() {
            div.append(close_link);
            var form = $("#overlay form");

            // Test if we must fake it instead
            var fakeit = false;
            $("#overlay form :input").each( function() {
                if( this.type == "file" ){
                    fakeit = true;
                }
            });
            
            if( fakeit == true ){
                f_frame = document.createElement("iframe");
                f_frame.name = "__Fake_IT_Frame";
                f_frame.id = "__Fake_IT_Frame";
                f_frame.style.display = "none";
                f_frame.onload = function(){
                    if( this.contentWindow.document.body.innerHTML != "" ){
                        document.getElementById(div_loc).innerHTML=this.contentWindow.document.body.innerHTML;
                        div.hide('slow');
                    }
                    };
                div.append(f_frame);

                form.attr('target',"__Fake_IT_Frame");
            }else{
                form.submit(function() {
                    var inputs = [];
                    $("#overlay form :input").each( function() {
                        inputs.push(this.name + '=' + escape(this.value));
                    });
                  
                  $.ajax({
                      data: inputs.join('&'),
                      type: 'post',
                      enctype: 'multipart/form-data',
                      url: $("#overlay form").attr('action'),
                      success: function(r) {
                          document.getElementById(div_loc).innerHTML=r;
                          div.hide('slow');
                          reflash_edit_mode();
                      },
                      error: function() { alert("Failed to submit"); },
                   });
                  return false;
                });
            }
        });
    }
    
    $(document).ready( function(){
    $("#container").bind("dblclick", function(){
        toggle_edit_mode();
        });
    });
    </script>
{{pass}}

{{if can_edit(node):}}
    {{if node.url==node.name and node.type==1:}}
    <script type="text/javascript">
        $(document).ready( function(){
            enter_edit_mode();
            $("#name").html("Put your name here (click here to edit)");
        });
    </script>
    {{pass}}
    <div class="nodeTopLinks">
        <a href="#" style="background-color:#FF0"  onclick="enter_edit_mode(); return false;" id="mode_a">Edit this page!</a>
    </div>
{{pass}}
<br />

    <div id="nodeTitle">
        <div id="name" class="db_editable">{{=node.name}}
            {{if node.url!="csi":}}({{=node.type.value_node}}){{pass}}</div>
    </div> <!-- end nodeTitle -->
    
    <div id="picture" class="db_photo_editable">
        {{if node.picFile:}}
        <a href="{{=URL('default','download',args=node.picFile)}}">
        <img src="{{=URL('default','download',args=node.picFile)}}" /></a>
        {{else:}}
            {{if can_edit(node):}}
                <img src="{{=URL('static', 'images', args=['placeholder_edit.png'])}}" />
            {{else:}}
                <img src="{{=URL('static', 'images', args=['placeholder.png'])}}"/>
            {{pass}}
        {{pass}}
    </div> <!-- end bigPic -->
     
    <div id="sideStats">{{include "htmlblocks/attributes.html"}}</div>

    <div id="descriptionBox">
    <div id="description" class="db_editable">{{if node.description:}}{{=MARKMIN(node.description)}}{{else:}}No Description Yet :({{pass}}</div>
    </div> <!-- end description -->
