{{extend 'csi_view.html'}}
{{showblog = True}}
<div id="viewbar"> 
{{if vars().has_key('tagcount'):}}
    <div style="padding: 10px;">
    <h2 style="float:left; margin:0px; padding: 0px; color:#FFF;">Tags</h2>
    {{if auth.is_logged_in():}}
        {{=A(SPAN(SPAN("",_class="icon cog"),"Batch Tag"), _class="big pill button", _style="float: right;", _href=URL('edit','batch_tag'))}}
    {{pass}}
    <br style="clear: both;">
    </div>
    </div>
    {{=tagcount}}
{{else:}}
    <div style="padding: 10px;">
    <h2 style="float:left; margin:0px; padding: 0px; color:#FFF;">Pages tagged with <i>{{=tag}}</i></h2>
    
    {{if auth.is_logged_in():}}
        {{=A(SPAN(SPAN("",_class="icon cog"),"Batch Tag"), _class="big pill button", _style="float: right;", _href=URL('edit','batch_tag', args=tag))}}
    {{pass}}
    <br style="clear: both;"/> 
    </div>
    </div>
    
    {{search_mode="tag=%s" % tag}}
    {{include "htmlblocks/search.html"}}
{{pass}}
