{{extend 'csi_view.html'}}
{{=A("Back to %s" % node_owner.name, _href=URL('main','node', args=node_owner.url))}}

<h1 style="margin-bottom: 0px;">{{=A(title, _href=link)}}</h1>
<div>
    {{=A('View Source Feed', _href=URL('feeds','feed',args=feedid), _class="pill button")}}
    <div id="{{="feed_%s_buttons"%id}}" style="display: inline;">
        {{=A('Edit Tags', _href=URL('feeds','edit_entry', args=id, extension="load"), _class="pill button", cid="feed_%s_buttons"%id)}}
        {{=tags_2_html(tags)}}
    </div>
</div>
<div>{{=XML(description or "", True, ALLOWED_HTML_TAGS, ALLOWED_HTML_ATTR)}}</div>
