<h4>{{=A(title or "Feed Error/No Title", _href=link or rss_link)}}</h4>
{{=A("View Feed", _href=URL('feeds','feed',args=feed_id), _class="pill button")}}
<div>{{=XML(description or "Feed Error/No Description", True, ALLOWED_HTML_TAGS, ALLOWED_HTML_ATTR)}}</div>
<ul>
    {{for entry in entries:}}
    {{=LI("[%s] " % entry.updated.strftime(DATE_FORMAT),
        A(entry.title, _href=URL('feeds','entry',args=entry.id) ), _title="%s\n%s" % (tags_2_text(entry.tags), entry.description[0:100]), _class="do_titles",
       )}}
    {{pass}}
</ul>
