{{extend 'csi_base.html'}}
{{=A("Back to %s" % node_owner.name, _href=URL('main','node', args=node_owner.url))}}
<h1 style="margin-bottom: 0px;">{{=A(title, _href=link)}}</h1>
<div style="font-size: 70%">Feed RSS Source: {{=rss_link}}</div>
<div>{{=description}}</div>

<div>
    {{for entry in entries:}}
    <div>
    <h2 style="margin-bottom: 0px;">{{=A(entry.title, _href=entry.link)}}</h2>
    <div>{{=entry.updated.strftime(DATE_FORMAT)}}</div>
    <div id="{{="feed_%s_buttons"%entry.id}}" style="display: inline;">
        {{=A('Edit Tags', _href=URL('feeds','edit_entry', args=entry.id, extension="load"), _class="pill button", cid="feed_%s_buttons"%entry.id)}}
        {{=tags_2_html(entry.tags)}}
    </div>
    <div>{{=XML(entry.description, True, ALLOWED_HTML_TAGS, ALLOWED_HTML_ATTR)}}</div>
    </div>
    {{pass}}
</div>
