<form method="get" action="{{=URL('main','search')}}" style="display:inline; float: right;" title="Type a word, hit enter, see all pages that feature that word.  Click Full Search on that page for a deeper slower full text search.">
    <input type="text" name="query" value="Search the NOVA"
        onfocus="if(this.value=='Search the NOVA')this.value='';"
        onblur="if(this.value=='')this.value='Search the NOVA';" style="background-color: transparent; border: 1px solid black;">
    <input type="submit" value="Search">
</form>
