{{extend 'csi_view.html'}}

<fieldset>
<legend>Current Attributes</legend>
<ul>
{{for x in attr:}}
    <li>{{=x.vocab.value}}: {{=x.value}}</li>
{{pass}}
</ul>
</fieldset>

<fieldset>
<legend>Available Attributes</legend>

<form method="post" action="{{=URL(args=node.url)}}">
<ul>
<li>
<label for="attr">Attribute:</label>
<select name="attr">
   {{for x in vocab:}}<option value="{{=x.id}}">{{=x.value}}</option>{{pass}}
</select>
</li>
<li>
<label for="value">Value:</label>
<input type="text" name="value" />
</li>
<li>
<label for="submit">&nbsp;</label>
<input type="submit" name="submit" value="Add Attribute" />
</li>
</ul>
</form>
</fieldset>

<fieldset>
<legend>New Attribute</legend>
Don't have what you were looking for? Lets make our own!
<form method="post" action="{{=URL(args=node.url)}}">
<ul>
<li>
<label for="new_attr">Attribute:</label>
<input type="text" name="new_attr" />
</li>
<li>
<label for="value">Value</label>
<input type="text" name="value" />
</li>
<li>
<label for="submit">&nbsp;</label>
<input type="submit" name="submit" value="Create and Add Attribute" />
</li>
</ul>
</form>
</fieldset>
<a href="{{=URL('edit','node', args=node.url)}}">Back To Editing {{=node.name}}</a>
