{{extend 'csi_base.html'}}
<h1>Personal Dropbox</h1>
{{if request.args(0):}}
    {{=A("Upload New", _href=URL(args=[]))}}
{{pass}}
{{=form}}

<table>
<tr><th>File</th><th>Size</th><th>Edit</th><th>Link</th><th>Type</th></tr>
{{for file in files:}}
    <tr>
        <td>{{=file.Name}}</td>
        <td>{{=convert_bytes(file.size or 0)}}</td>
        <td>{{=A("Edit", _href=URL(args=file.id))}}</td>
        <td>{{=A("link", _href=URL('default', 'download',args=file.File))}}</td>
        <td>{{=IMG(_src=URL('default','thumb',args=[50,50,file.File])) if file.image else "File"}}</td>
    </tr>
{{pass}}
</table>
<p>{{=get_quota_string()}}</p>
<br />
