{{extend 'csi_view.html'}}

<div id="editform">
{{if node:}}
<a href="{{=URL('main','node', args=node.url)}}" >Back to Node</a>.

<div id=pictureAdvice>
To take a picture and get a Picture URL, <a href="http://cameroid.com/snap.php" target="_blank">click here</a>
</div>

{{pass}}
    <fieldset>
        <legend>Edit Page</legend>
        {{=form}}
    Note: Description and Attributes can use <a href="{{=URL('examples','static','markmin.html')}}">markmin syntax</a>.
    </fieldset>

    {{if attribute_form:}}
    <fieldset>
        <legend>Add Attribute</legend>
        {{=attribute_form}}
        <a href="{{=URL('attribute_vocab', args=node.url)}}">Add New Attribute Vocab</a>.
    </fieldset>
    {{pass}}
    
  {{if attr:}}
 <fieldset>
 <legend>Current Attributes</legend>

 <form method="post" action="{{=URL(args=node.url)}}">
 <br />Leave blank to remove<br /><br />
 
               <ul>
                 {{for x in attr:}}
                 <li><label for="attr.{{=x.id}}">{{=x.vocab.value}}:</label>
                     <input type="text" name="attr.{{=x.id}}" value="{{=x.value}}" />
                 </li>
                 {{pass}}
              </ul>
              <input type="submit"/>
 </form>
 </fieldset>
 {{pass}}
 </div>
