{{extend 'csi_view.html'}}

<div id="editform">
    <fieldset>
        <legend>Node</legend>
        {{=form}}
    </fieldset>

    {{if attribute_form:}}
    <fieldset>
        <legend>Add Attribute</legend>
        {{=attribute_form}}
        <a href="{{=URL('attribute_vocab', args=node.url)}}">Add New Attribute Vocab</a>.
    </fieldset>
    {{pass}}
    
  {{if attr:}}
 <fieldset>
 <legend>Current Attributes</legend>

 <form method="post" action="{{=URL(args=node.url)}}">
 <br />Leave blank to remove<br /><br />
 
               <ul>
                 {{for x in attr:}}
                 <li><label for="attr.{{=x.id}}">{{=x.vocab.value}}:</label>
                     <input type="text" name="attr.{{=x.id}}" value="{{=x.value}}" />
                 </li>
                 {{pass}}
               </ul>
<br>
 <input type="submit" />
 </form>
 </fieldset>
 {{pass}}
 </div>
