@charset "UTF-8";
body {
    font: 100% Tahoma,Verdana, Arial, Helvetica, sans-serif;
    background: #FFF;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
}

a{
    
}

#add_attr_link{
    font-size: 70%;
    display: block;
    text-align: right;
    margin: 5px;
}

a.del_attr_link{
    float: left;
    position: absolute;
    z-index: 10000;
}

.pager{
    text-align: center;
    border-radius: 16px; /* half of button size + padding */
    width:30%;
    height:auto;
    background-color:#999;
    
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
    padding:10px;
    clear: both;
}

#overlay{
    /* must be initially hidden */
    display:none;
    
    /* place overlay on top of other elements */
    z-index:10000;
    
    /* styling */
    color: #fff;
    background-color:#333;
    
    width: 500px;
    min-height:200px;
    border:1px solid #666;
    
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
}


#addyourself a {
    float:right;
    height:50px;
    width:250px;
    font-size:24px;
    margin-right:50px;
    margin-top:20px;
    background-color: #666;
    border-radius: 16px; /* half of button size + padding */
    text-align: center;
    padding-top:10px;
    vertical-align: middle;
    text-decoration:none;
    
}

#addyouself a:hover {
    text-decoration: underline;
    color:#999;
    background-color:#FFF;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

#picture {
    width:300px;
    max-width:300px;
    max-height:400px;
    margin-left: 20px;
    margin-top:20px;
    float:left;
    margin-bottom:20px;
}
#picture img{
    max-width:300px;
}

#container {
    width: 900px;
    height: auto;
    margin: 0 auto;
    padding:0px;
    margin-bottom:20px;
}

#description {

}


#descriptionBox {
    
    
    border-radius: 16px; /* half of button size + padding */
    width:90%;
    height:auto;
    background-color:#999;
    
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
    padding:10px;
    clear:left;
}

#editForm {

    width:auto;
    height:auto;
    margin: 0 auto;
}

.formright {
    float:right;
    margin-right:0px;
    clear:right;
}

.flash {
    
    font-size:26px;
}

#footer {
    margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
    padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
    width: 100%;
    min-height: 200px;
    clear:both;
    background:#333
    margin-top:20px;
    background-color:#999;
}

fieldset {
    width:700px;
    margin: 0 auto;
}

fieldset ul, fieldset li{
border:0; margin:0; padding:0; list-style:none;
}
fieldset li{
clear:both;
list-style:none;
padding-bottom:10px;
}

fieldset input{
float:left;
}
fieldset label{
width:140px;
float:left;
}





#header {
    background: #9999DD;
    width: 100%;
    height:50px;
    margin: 10 auto;
    clear:both;
    padding-bottom:20px;
}

#header_user_bar {
    
    border-bottom: #666;
    color:#FFF;
    width:900px;
    margin:0 auto;
    text-align:right;
   
}

#header_bar {
    background-color:#999;
}


#mainContent, #onlyMainContent {
    
    margin: 20px 290px 0 10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    
    width:auto;
    float: none;
    text-align: left;
    height:auto;
    
    border-right:1px solid black;
    border-left:1px solid black;
    
}

#onlyMainContent{
    margin: 20px 20px 0 20px;
}

#navigation {
    width:90%;
    height:40px;
    margin:0 auto;
    
    margin-top:10px;
    font-size:24px;
    clear:both;
    vertical-align:middle;
    font-family: Arial, sans-serif;
}

#navigation ul {
    list-style: none;
    list-style-type: none;
    margin:5px;
}

#navigation li {
    display: inline;
}

#navigation li:before, #navigation li:after{
    content: "|";
}

#navigation li a {
    text-decoration: none;
}

#navigation li a:hover {
    text-decoration: underline;
}

.nodeBox {
    width: 180px;
    height:215px;
    margin-right: 36px;
    margin-left:50px;
    margin-top:30px;
    float:left;
    background-color:#999;
}
.nodePic {
    width:160px;
    height:160px;
    margin: 0 auto;
    margin-top:10px;
    background-color:#CCC;
}

.nodeName {
    width:160px;
    height:25px;
    margin: 0 auto;
    margin-top:10px;
    background-color:#CCC;
    text-align: center;
}
.nodeName a {
    text-decoration:none;
}
.nodeName a:hover {
    text-decoration:underline;
}

.nodeTopLinks a  {
    margin-left:20px;
    position: relative;
    margin-top:-22px;
    margin-bottom:10px;
    display:block;
    width:150px;
    height:30px;
    background-color:#990;
    float:left;
    text-align:center;
    padding-top:3px;
    text-decoration:none;
    }
    
.nodeTopLinks a:hover {
    background-color:#999;
    color:#000;
}

#nodeTitle {
    font-size:24px;
    color:#000;
    margin-left:20px;
    clear:left;
}



.panel {
    width: 230px;
    display:block;
    background:#666;
    list-style-image:none;
    list-style-type:none;
    padding:0px;
    margin: 0 auto;
    vertical-align: middle;

}

.panelItem {
    list-style-image:none;
    color:#666;
    background-color:#999;
    display:block;
    width:230px;
    height:auto;
    min-height:40px;
    margin: 0 auto;
    margin-bottom:3px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    
    
    
}

.panelItem:hover {
    background-color:#333;
}

.panelItem a {
    margin-top:10px;
    text-decoration:none;
    padding-top:10px;
}

.panelItemPic {
    width:40px;
    height:40px;
    background-color:#999;
    float:left;
    margin-left:5px;
    

}

.panelItemName {
    
    padding-top:10px;
}

#sidebar {
    border-radius: 16px; /* half of button size + padding */
    float: right;
    width: 240px;
    height: auto;
    background: #EBEBEB;
    margin-top:20px;
    margin-bottom:50px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align:left;
}

.sidebar_block {
    width:100%;
    margin:0 auto;
    background-color:#666;
    margin-bottom: 10px;
    padding-bottom:10px;
    padding-top: 3px;
    padding-left:0px;
    clear:both;
}
.socialPic {
    float:left;
    margin-right:5px;
}

#sideStats {
    border-radius: 16px; /* half of button size + padding */
    float:right;
    width:220px;
    height:auto;
    margin-right:20px;
    margin-top:20px;
    background-color:#999;
    margin-bottom:20px;
    
    
}

.statTitle, .statValue {
    width:200px;
    
    margin: 0 auto;
    margin-top:10px;
}

.statTitle {
    color:#FFF;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #000;
}

.statValue {
    margin-bottom:20px;
    padding-left:25px;
    font-size: 80%;
    
}

#viewbar {
    width: 100%;
    height:100px;
    background-color:#999;
    
}
