<div class="footer">
    <img src="{{=URL('static', 'images', args=['footer.png'])}}" width="300px" id="footerpic"/>
    <div class="footer_content">
    <div style="float: right;">
    {{if vars().has_key('node') and node:}}
         <img src="{{=URL('static','images/Feed_32x32.png')}}" width="16px" height="16px">
        {{=A("Page Activity", _href=URL('main','node_activity',args=node.url, extension="rss"))}}
        {{=A(node.name + "'s Blog", _href=URL('main','blog',args=node.url, extension="rss"))}}
        {{=A(node.name + "'s Aggregated Feed", _href=URL('main','feed',args=node.url, extension="rss"))}} 
    {{elif request.function == "log":}}
         <img src="{{=URL('static','images/Feed_32x32.png')}}" width="16px" height="16px">
        {{=A("Page Activity", _href=URL('main','log', extension="rss"))}} 
    {{pass}}
    </div>
    <div style="float: left;">
    <ul>
        <li>{{=A("Activity Log", _href=URL('main','log'), _title="A Log of every edit on the site")}}</li>
        <li>{{=A("Submit Feedback", _href=URL('edit','feedback'), _title="Help us improve the site by sending us your feedback")}}</li>
    </ul>
    </div>
    <div style="float: left;">
    <ul>
    <li>{{=A("RIT Home", _href="http://rit.edu", _title="www.rit.edu")}}</li>
    <li>{{=A("Innovation Center Home", _href="http://innovation.rit.edu", _title="innovation.rit.edu")}}</li>
    </ul>
    </div>
    </div>
</div>
