<div class="header">
<h1>Center for Student Innovation</h1>

    <div class="login_form">
    {{if not auth.is_logged_in() and not request.function=='user':}}
    {{form=auth.login(next=request.url)}}
    
        <form action="{{=URL('default','user',args='login')}}" enctype="multipart/form-data" method="post">
        {{###=form.custom.begin}}
            <label for="auth_user_username">{{=form.custom.label.username}}</label> 
            {{=form.custom.widget.username}} <input type="submit" value="Login" tabindex=3/><br />
            <label for="auth_user_password">{{=form.custom.label.password}}</label>
            {{=form.custom.widget.password}} <input type="button" value="Signup"  tabindex=4 onclick="document.location='{{=URL('default','user',args='login', vars={'_next':request.url})}}'"><br />

        {{=form.custom.end}}
    {{elif auth.is_logged_in():}}
    {{=A(get_home_node().name, _href=URL('main', 'nodeid', args=auth.user.home_node))}} |
    {{=A('My Files', _href=URL('edit','dropbox'), _title="Storage space, for files that you may want to link to.")}} |
    {{=A('Watched Pages', _href=URL('main','watched'), _title="When you watch a  page, it's history accumulates on your very own WatchedPages report.  You can also get a daily update. ")}} |
    {{=A("Logout", _href=URL('default','user',args='logout'))}}<br />
    
    {{if auth.has_membership("Site Admin"):}}
    <div>
    Admin Links: {{=A("Admin", _href=URL("admin", "default", "design", args="csi2"))}} |
                 {{=A("DB Admin", _href=URL('appadmin','index'))}}
    </div>
{{pass}}
    
    {{pass}}
    <br style="clear:both;">
    </div>
    <br style="clear:both;">
</div>
